<header class="w-full relative">
  <div class="container mx-auto max-h-28 overflow-visible flex">
    <div class="h-full lg:w-3/12">
      <img class="w-10/12 md:w-4/12 lg:7/12 mx-auto relative z-10" src="<%= asset_path('shared/ez-header-logo.svg') %>"/>
    </div>
    <div class="hidden lg:flex flex-col lg:w-9/12 h-full mt-5 ">
      <ul role="list" class="flex justify-end w-full gap-x-4">
        <li class="text-xs font-semibold text-dark text-[10px] duration-400 hover:text-mainh"><a href="#">BLOG</a></li>
        <li class="text-xs font-semibold text-dark text-[10px] duration-400 hover:text-mainh"><a href="#">FAVORITES</a></li>
        <li class="text-xs font-semibold text-dark text-[10px] duration-400 hover:text-mainh"><a href="#">SAVED SEARCH</a></li>
      </ul>
      <nav class="flex justify-end w-full">
        <ul role="list" class="flex justify-between items-start gap-x-10 border-r border-dark pr-6 md:mt-2 lg:mt-5">
            <li class="text-base text-dark duration-400 hover:text-mainh"><a href="#">Find a Home</a></li>
            <li class="text-base text-dark duration-400 hover:text-mainh"><a href="#">Sell</a></li>
            <li class="text-base text-dark duration-400 hover:text-mainh"><a href="#">Where to Live</a></li>
            <li class="text-base text-dark duration-400 hover:text-mainh"><a href="#">Neiborghoods</a></li>
        </ul>
        <button class="bg-mainh font-bold px-4 ml-4 rounded-md h-6 self-end text-white text-sm duration-400 hover:bg-mainh">
          LOGIN
        </button>
      </nav>
    </div>
    <div onclick="ToggleMenu(this)" class="flex items-center justify-center lg:hidden h-10 w-10 bg-dark rounded-full ml-auto my-auto mr-2">
      <svg id="icon-menu" class="p-3"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" fill="white"/>
      </svg>
      <svg id="icon-close" class="p-3 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="white"/>
      </svg>
    </div>
  </div>
  <!-- mobile menu -->
  <div id="mobile-menu" class="hidden justify-end w-full h-screen bg-black bg-opacity-75 overscroll-y-none absolute top-100 z-10">
    <nav class="bg-white">
      <ul role="list" class="flex flex-col gap-x-10 px-6">
          <li class="text-base text-center duration-400 hover:text-mainh px-3 py-5 w-full border-b border-dark"><a href="#">Find a Home</a></li>
          <li class="text-base text-center duration-400 hover:text-mainh px-3 py-5 w-full border-b border-dark"><a href="#">Sell</a></li>
          <li class="text-base text-center duration-400 hover:text-mainh px-3 py-5 w-full border-b border-dark"><a href="#">Where to Live</a></li>
          <li class="text-base text-center duration-400 hover:text-mainh px-3 py-5 w-full border-b border-dark"><a href="#">Neiborghoods</a></li>
          <li class="flex items-center justify-center">
            <button class="bg-main font-bold px-10 py-3 my-5 ml-4 rounded-md text-white text-sm duration-400 hover:bg-mainh">
              LOGIN
            </button>
          </li>
        </ul>
    </nav>
  </div>
  <script>
    function ToggleMenu(e){
      let menuMobile = document.getElementById('mobile-menu');
      let iconMenu = document.getElementById('icon-menu');
      let iconClose = document.getElementById('icon-close');
      let body = document.getElementById('body')
      menuMobile.classList.contains('hidden') ?
      (
        menuMobile.classList.remove('hidden'), 
        iconClose.classList.remove('hidden'), 
        iconMenu.classList.add('hidden'),
        body.classList.remove('overflow-y-auto'),
        body.classList.remove('max-h-max'),
        body.classList.add('overflow-y-hidden'),
        body.classList.add('max-h-screen')
      ):
      (
        menuMobile.classList.add('hidden'),
        iconClose.classList.add('hidden'), 
        iconMenu.classList.remove('hidden'),
        body.classList.remove('overflow-y-hidden'),
        body.classList.remove('max-h-screen'),
        body.classList.add('overflow-y-auto'),
        body.classList.add('max-h-max')
      );
    }
  </script>
</header>